.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  position: relative;
}

@media (max-width: 640px) {
  .time {
    flex-direction: column;
  }
  p {
    font-size: 2rem;
    padding-bottom: 0;
  }
}

@media (min-width: 640px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}
