@import "../../mixins.scss";

.detail-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .image {
    margin-right: 2rem;
    padding: 1rem 1rem 1rem 1rem;

    text-align: right;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__text {
    @include xs {
      flex-basis: 90%;
      flex-direction: column;
    }
    flex-basis: 70%;
    text-align: center;
    display: flex;

    &-key {
      @include xs {
        margin-bottom: 0.2rem;
      }
      flex-basis: 30%;
      font-size: 1rem;
      text-align: left;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      margin-right: 1rem;
    }

    &-value,
    &-value-link {
      flex-basis: 70%;
      font-size: 1rem;
      text-align: left;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
    }
  }
}
