@import "../../mixins.scss";

.details-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__wrapper {
    @include xs {
      width: 90%;
      margin: 2rem auto;
    }
    box-sizing: border-box;
    max-width: 1000px;
    width: 90%;
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 8px 6px -6px grey;

    h1 {
      font-size: 2rem;
      font-family: "Dancing Script";
      margin-bottom: 2rem;
    }

    h2 {
      flex-basis: 100%;
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 1.2rem;
      font-family: "Dancing Script", sans-serif;
      font-weight: 500;
    }

    .dropdown {
      @include xs {
        width: 100%;
      }
      width: 400px;
      margin-bottom: 2rem;
      .MuiFormControl-root {
        width: 100%;
      }
    }

    &-info {
      @include xs {
        width: 100%;
      }
      width: 50%;
      text-align: center;
    }
  }
}
