.rsvp-form {
  margin: 8rem auto;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 8px 6px -6px grey;

  .title {
    font-size: 2rem;
    text-align: center;
    font-family: "Source Serif Pro", cursive;
    margin: 2rem;
  }

  .submission-message {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Source Serif Pro", cursive;
    font-weight: 500;
  }

  .information-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .MuiFormControl-root {
      width: 500px;
      margin: 1rem;
    }
  }

  .circular-loader {
    margin: 5rem 0;
    text-align: center;
  }

  .button-submit {
    margin: 2rem 0;
    background-color: #f7f5f1;
    color: black;
    font-weight: bold;
  }

  .button-submit:hover {
    background-color: #8a0b0b;
    color: white;
  }

  .info-textField {
    width: 100vw;
  }
}
