.heading-nav {
  background-color: white;
  box-shadow: 0 8px 6px -6px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: relative;

  p {
    font-size: 1.5rem;
    font-family: "Marck Script", cursive;
    text-align: center;
    padding-bottom: 2rem;
  }

  .icon {
    margin-left: 2rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      font-size: 1.2rem;
      padding: 0 2rem;
      font-family: "Source Serif Pro";
      cursor: pointer;
    }

    li:last-child {
      border-left: 2px white solid;
    }
  }
}
